body{
    background-image: url("../images/3.png");
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    align-items: center;
    
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1{
    letter-spacing: 0.65rem;
    font-size: 5rem;
}
/* Heading  */

.heading-div{
    margin: 5% 5%;
}

/* Navigation bar settings */

.navbar{
    /* padding: 2% 0 0 2%; */
    padding: 1.5rem 0 0 4.5rem;
    font-size: 1.2rem;
}

.navbar-brand{
    font-size: 2rem;
}

.nav-item{
    margin-right: 2rem;
}


/* Sign up settings */


.user-input{
    width:30%;
    border: solid 2px;
    /* margin: 2rem 26.5rem 2rem  auto; */
    margin: 2rem auto 2rem  auto;
    background-color: transparent;
    border-color: white;
    /* border-radius: 10%; */
}

.user-input::placeholder{
    color: white;
}

/* .input-icon{

    margin-top:0.3rem;
    margin-right: 0;
    margin-left: 26rem;
    float:left;
} */


/* Footer  */

#footer{
    margin: 5% 10%;
    display: inline-block;
    width: 100%;
}

.share-text{
    font-size: 1rem;
    text-align: left;
    /* width:10%; */
}



.share-icons{
    margin:5% 3%;
}

.footer-div{
    display: inline-block;
    width: 100%;
    text-align:left;
    margin-right: 0;
}

.share-text-group{
   float:left;
   
}

.share-icons-group{
    float: right;
    width:20%;
    margin-right: 5rem;
}